{% extends 'layout.html.twig' %}

{% block body %}
    {{ parent() }}
	<div class="main container">
		<div class="row well">
			<div class="col-md-6" style="margin:0 auto">
				<div class="page-header">
					<h2>Nueva imágen</h2>
				</div>
				{{ form_start(form, {'attr': {'novalidate': 'novalidate', 'role' : 'form'}}) }}
				    <h4 class="text-danger">{{ form_errors(form) }}</h4>

					<fieldset>
					    <div class="form-group">
					        <label>Titulo de la Imágen</label>
					        {{ form_widget(form.title, {'attr': {'class': 'form-control', 'placeholder' : 'Image title'}}) }}
					        <span class="text-danger">{{ form_errors(form.title) }}</span>
					    </div>

					    <div class="form-group">
					        <label>Imágen (400x400)</label>
					        {{ form_widget(form.image, {'attr': {'class': 'btn-file'}}) }}
					        <input type="hidden" name="path-img" id="path-img" />
					        <span class="text-danger">{{ form_errors(form.image) }}</span>
					    </div>

					    <div class="form-group">
					       	<label>Descripción</label>
					        {{ form_widget(form.description, {'attr': {'class': 'form-control', 'placeholder' : 'Task description'}}) }}
					        <span class="text-danger">{{ form_errors(form.description) }}</span>
					    </div>
					</fieldset>

				    <p>
				        {{ form_widget(form.save, {'label' : 'Guardar Imágen', 'attr': {'class': 'btn btn-success'}}) }}
				    </p>

				{{ form_end(form) }}
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('public/js/newImage.js') }}"></script>
{% endblock %}