<nav class="navbar navbar-expand-lg" style="background-color: #343a40; ">
  <a class="link-menu navbar-brand" href="{{path ('user_home')}}">Galería</a>
  
<div class="collapse navbar-collapse" id="navbarNavDropdown">
   
      <ul class="navbar-nav" >
        {% if is_granted('ROLE_ADMIN') %}
          <li class="nav-item"><a class="link-menu nav-link" href="{{ path('user_index') }}"> Usuarios </a></li> 
         {% endif %}
         {% if is_granted('IS_AUTHENTICATED_FULLY') %}      
            <li class="nav-item"><a class="link-menu nav-link" href="{{ path('image_index') }}"> Imágenes </a></li>
          {% endif %} 
      </ul>
        
    
      </div>
  <ul class="navbar-nav float-right">
         {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <li class="nav-item"><a class="link-menu nav-link" href="{{ path('user_logout') }}"> Salir </a></li>    
          {% else %}
            <li class="nav-item"><a class="link-menu nav-link" href="{{ path('user_add') }}"> Registro </a></li>
            <li class="nav-item"><a class="link-menu nav-link" href="{{ path('user_login') }}"> Iniciar sesión </a></li>
            
          {% endif %}
    </ul>
</nav>